header h2 {
  font-size: 24px;
  letter-spacing: 1px;
}

header nav {
  display: none;
}

footer p {
  font-size: 16px;
  line-height: 80px;
  text-align: center;
} 

.vanilla-layout-wrapper {
  font-family: Arial, Helvetica, sans-serif;
}

.vanilla-layout-wrapper header {
  height: 80px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: slateblue;
  color: white;
}

.hamburger-menu-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.vanilla-layout-wrapper footer {
  background-color: slateblue;
  color: white;
}

.hero-flex {
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
}

.hero-text p {
  margin: 24px 0px;
  font-size: 18px;
  line-height: 22px;
}

.hero-image {
  width: 320px !important;
  border-radius: 12px;
  box-shadow: 0px 10px 10px 0px lightgray;
  transition: 2s;
}

.hero-image:hover {
  width: 640px !important;
}

@media (max-width: 319px) {
  .vanilla-layout-wrapper {
    display: none;
  }
}

@media (min-width: 640px) {
  .hamburger-menu-button {
    display: none;
  }

  header nav {
    display: flex;
    gap: 24px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .hero-image {
    width: 450px !important;
  }
}

@media (min-width: 1024px) {
  .hero-flex {
    flex-direction: row;
  }

  .hero-image {
    width: 550px !important;
  }
}